
// Body
$body-bg: #eee;

// Typography
$font-family-sans-serif: "PT Sans",Helvetica,Arial,sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// bootstrap
$brand-primary: #7a0d0c;
$primary: #7a0d0c;
